.setting{
    display: flex;
    gap: 1rem;
}
.setting > *{
    background-color: var(--primary-3);
    border-radius: 1rem;
    padding: 1rem;
}
.setting .list {
    flex: 0 0 15%;
    margin: 0;
    list-style: none;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    color: var(--primary-7);
}
.setting .list li{
    background-color: var(--primary-4);
    transition: all ease-in-out .5s;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}
.setting .list li:hover, .setting .list li.active{
    background-color: var(--primary-5);
    color: var(--primary-7);
}
.setting .details {
    flex: 1 0 auto;
    color: var(--primary-7);
}
.setting .details h1, .setting .details p{
    margin: 0;
}
.setting .details h1{
    color: var(--secondary-3);
    font-weight: 600;
}
.setting .details .options{
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
    margin-block-start: 1rem;
    border: 1px solid var(--primary-7);
    inline-size: fit-content;
}
.setting .details .options .option {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}
.setting .details .options .option.active{
    background: var(--primary-5);
    color: var(--secondary-2);
    font-weight: 500;
}
.setting .details .icon {
    inline-size: 1.5rem;
    block-size: 1.5rem;
}
.setting .details svg, .setting .details svg g{
    fill: var(--secondary-3);
    inline-size: 100%;
    block-size: 100%;
}
.setting .details .options .option.active svg{
    fill: var(--secondary-1);
}

