.shorts-page .items {
    display: flex;
    overflow-x: scroll;
    inline-size: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.shorts-page .items .item {
    flex: 0 0 203px;
    inline-size: 203px;
}
.shorts-page .items .item .img-holder {
    inline-size: 100%;
    block-size: 362px;
    overflow: hidden;
    border-radius: .7rem;
}
.shorts-page .items .item .img-holder img{
    margin-inline-start: -139px;
}
.shorts-page .items .item .details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .2rem;
    padding-block: 0.5rem;
}
.shorts-page .items .item .details .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--secondary-1);
    line-height: 1.4;
}
.shorts-page .items .item .details .views{
    color: var(--primary-7);
    font-size: .9rem;
}
@media (max-width: 1200px) {
   
}
@media (max-width: 920px) {
   
}

@media (max-width: 768px) {
    .shorts-page .items  {
        gap: 2vw;
    }
    .shorts-page .items .item {
        flex: 0 0 34vw;
        inline-size: 34vw;
    }
    .shorts-page .items .item .img-holder {
        block-size: 58vw;
    }
    .shorts-page .items .item .img-holder img {
        margin-inline-start: -27vw;
        block-size: 100%;
        inline-size: 92vw;
    }
}
@media (max-width: 600px) {
    .shorts-page .items .item {
        flex: 0 0 57vw;
        inline-size: 57vw;
    }
    .shorts-page .items .item .img-holder {
        block-size: 80vw;
    }
    .shorts-page .items .item .img-holder img {
        margin-inline-start: -40vw;
        inline-size: 137vw;
        block-size: 100%;
    }
}
@media (max-width: 500px) {
    .shorts-page .items .item .img-holder {
        block-size: 100vw;
    }
}