.related {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
    background: var(--primary-3);
    border-radius: 1rem;
    padding: 1rem;
    gap: .5rem;
}
.related .item {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    gap: .5rem;
    align-items: center;
    background: var(--primary-3);
    border-radius: 1rem;
    padding: 0 .5rem;
    transition: all ease-in-out .5s;
}
.related .item:hover {
    background: var(--primary-4);
}
.related .item:hover img{
    scale: 1.1 1.25;
}
.related .item .img-holder {
    height: 88%;
    flex-basis: 33%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}
.related .item .img-holder .duration{
    position: absolute;
    inset-block-end: .5rem;
    inset-inline-end: .6rem;
    background-color: rgb(0 0 0 /50%);
    border-radius: .3rem;
    font-size: .9rem;
    color: var(--secondary-2);
    padding: .2rem;
}
.related .item .img-holder .duration .live{
    color: var(--red-2)
}
.related .item img {
    inline-size: 100%;
    margin-block-start: -6.7%;
    scale: 1 1.1;
    transition: all ease-in-out .3s;
}
.related .item .details{
    padding-block: .7rem;
}
.related .item .details > * {
    display: block;
}
.related .item .details .title {
    color: var(--secondary-1);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.related .item .details .tips {
    display: flex;
    flex-direction: column;
    color: var(--primary-7);
    padding-block: .5rem;
    gap: .4rem;
}
.related .item .details .tips .date{
    font-size: .9rem;
}
@media (max-width: 1200px) {
   
}
@media (max-width: 920px) {
   
}
@media (max-width: 768px) {
  
}
@media (max-width: 500px) {
   
}