.video-page{
    display: flex;
    gap: 2rem;
}
.video-details{
    flex-grow: 1;
    max-inline-size: 70%;
}
.video-details .player {
    position: relative;
    display: flex;
    block-size: 500px;
}
.player-skelton {
    block-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    position: absolute;
    inline-size: 100%;
    background: var(--gray-3);
    z-index: -1;
    border-radius: 1.5rem;
    opacity: 0;
    overflow: hidden;
    transition: all ease-in-out .3s;
}
.player-skelton.active {
    opacity: 1;
    z-index: 1;
}
.player-skelton .background{
    inline-size: 100%;
    block-size: 100%;

    background: linear-gradient(90deg, var(--gray-3), var(--gray-6), var(--gray-3));
    animation: player-skelton infinite 1s linear;
    background-size: 200%;
}
@keyframes player-skelton {
    0%{
        background-position: -100% 0;
    }
    100%{
        background-position: 100% 0;
    }
}
.player iframe{
    border: none;
    border-radius: 1.5rem;
}
.video-details .video-title {
    font-size: 1.5rem;
    margin-block: .5rem;
    color: var(--white-2);
}
.video-details .info {
    display: flex;
    gap: .7rem;
    justify-content: space-between;
    margin-block: .5rem;
}
.video-details .channel a {
    display: flex;
    gap: .5rem;
    color: var(--white-2);
}
.video-details .channel img {
    inline-size: 2.5rem;
    block-size: 2.5rem;
    border-radius: 50%;
}
.video-details .data {
    display: flex;
    flex-direction: column;
}
.video-details .channel .title {
    font-weight: 600;
}
.video-details .channel .subscribers {
    font-size: .8rem;
    color: var(--gray-5);
    font-weight: 200;
}
.video-details .likes {
    color: var(--white-2);
    display: flex;
}
.video-details .likes > * {
    padding: 0.2rem .5rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: .9rem;
    gap: .3rem;
    cursor: pointer;
    background: var(--gray-6);
    transition: all ease-in-out .3s;
}
.video-details .likes > *:hover {
   background-color: var(--gray-7);
}
.video-details .likes .like{
    border-radius: 2rem 0 0 2rem;
    padding-inline-end: 0;
}
.video-details .likes .like .count{
    border-inline-end: 1px solid var(--gray-5);
    padding-inline-end: .8rem;
}
.video-details .likes .dislike{
    border-radius: 0 2rem 2rem 0;
}
.video-details .likes .icon{
    block-size: 18px;
}
.video-details .likes .icon img{
    block-size: 100%;
}
.video-details .likes .dislike .icon{
    rotate: 0 0 1 180deg;
}
.video-details .description {
    margin-block: 1rem;
    background: var(--gray-3);
    color: var(--white-3);
    padding: .8rem;
    line-height: 1.5rem;
}
.video-details .description .stats {
    margin-block-end: .5rem;
    font-size: .85rem;
    font-weight: 600;
    display: flex;
    gap: .5rem;
    color: var(--white-2);
    letter-spacing: .05rem;
}
