.history {
    inline-size: 100%;
    block-size: 100%;
}
.history > .content {
    display: flex;
    margin-block: 0;
    position: static;
    inline-size: 100%;
    block-size: calc(100% - 3rem);
    overflow-y: hidden;
    justify-content: space-between;
}
.history .results {
    block-size: 100%;
    display: block;
    margin: 0;
}
.list {
    overflow-y: auto;
    block-size: 100%;
}
.history .page-title {
    color: var(--white-1);
    font-size: 1.7rem;
    font-weight: 700;
    padding-inline: 1rem;
    margin-block: .5rem;
    line-height: 2rem;
}
.history >  .content > .options {
    flex: 0 0 20%;
    background-color: var(--gray-3);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    block-size: fit-content;
}
.results .item{
    background: transparent;
}
.history .item:hover .close{
    opacity: 1;
}
.history .item .details{
    position: relative;
}
.history .item .details .title {
    inline-size: calc(100% - 3rem);
}
.history .item .history-date{
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    color: var(--white-3);
    background-color: var(--gray-3);
    border-radius: 1rem;
    padding: .5rem;
    font-size: .75rem;
}
.history .item .history-date strong{
    font-weight: 600;
    font-size: .9rem;
}
.history .item .close {
    inline-size: 2.5rem;
    block-size: 2.5rem;
    position: absolute;
    inset-inline-end: .5rem;
    inset-block-start: 0;
    transition: all ease-in-out .5s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.history .close:hover {
    background-color: var(--gray-6);
}
.history .close svg{
    fill: var(--white-3);
    inline-size: 70%;
    block-size: 70%;
}
.history .options .option {
    display: flex;
    padding-block: .7rem;
    gap: .5rem;
    align-items: center;
    color: var(--white-2);
    font-size: .9rem;
    cursor: pointer;
    padding: 1rem;
    transition: all ease-in-out .3s;
}
.history .options .option.search{
    border-block-end: solid 1px var(--white-1);
    transition: all ease-in-out .3s;
}
.history .options .option:not(.search):hover {
    background: var(--gray-2);
    border-radius: .5rem; 
}
.history .options .option.search.active{
    border-block-end: solid 1px var(--white-1);
}
.history .options .option input{
    border: none;
    outline: none;
    background: transparent;
    color: var(--white-2);
}
.history .options .option input{
    border: none;
    outline: none;
    background: transparent;
    color: var(--white-2);
    caret-color: var(--white-2);
}
.history .options .option .icon {
    block-size: 1rem;
    inline-size: 1rem;
    display: block;
}
.history .options .option .icon svg{
    block-size: 100%;
    inline-size: 100%;
    fill: var(--white-2);
}
.history .options .option.search .icon svg{
    fill: var(--gray-5);
}