@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --gray-1: #181818;
    --gray-2: #212121;
    --gray-3: #272727;
    --gray-4: #3c3c3c;
    --gray-5: #8f8d8d;
    --gray-6: #373737;
    --white-3: #ddd;
    --white-2: #eee;
    --white-1: #fff;
    --red-1: #c55757;
    --red-2: #ff5b5b;
    --primary-font: "Almarai", sans-serif;
}
body {
    margin: 0;
    background-color: var(--gray-1);
    display: flex;
    font-family: var(--primary-font);
    align-items: center;
    justify-content: center;
    block-size: 100svh;
}
a{
    text-decoration: none;
}
#root {
    background: var(--gray-2);
    border-radius: 2.5rem;
    inline-size: 97%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    block-size: 94svh;
    box-sizing: border-box;
    overflow: hidden;
}
#root > * {
    display: flex;
    flex-direction: column;
}
aside, nav {
    background: var(--gray-3);
    border-radius: 1rem;
}
aside{
    padding: 1rem;
    align-items: start;
    transition: all ease-in-out .3s;
    overflow: hidden;
    flex: 0 0 auto;
}
aside a {
    margin-block: .5rem;
    display: flex;
    align-items: center;
    color: var(--gray-5);
    font-size: .8rem;
    padding: .5rem;
    border-radius: .5rem;
}
aside a.active {
    color: var(--white-3);
    background: var(--gray-6);
}
aside a:hover {
    color: var(--white-3);
}
aside .toggle{
    justify-content: center;
}
aside .icon svg{
    block-size: 25px;
    inline-size: 25px;
    fill: currentColor;
    transition: all ease-in-out .3s;
}
aside a .title {
    display: none;
    inline-size: max-content;
    margin-inline-start: 0;
    transition: all ease-in-out .3s;
}
aside .list.open .title{
    display: block;
    margin-inline-start: .5rem;
}
aside .separator {
    display: block;
    inline-size: 100%;
    block-size: 1px;
    background: var(--gray-5);
    margin-block: .8rem;
}
main {
    flex: 1 0 min-content;
    block-size: 100%;
}
nav {
    display: flex;
    padding: 1.2rem;
    inline-size: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    max-block-size: 3rem;
    inline-size: 6rem;
}
nav .logo svg {
    fill: var(--white-1);
    display: block;
    inline-size: 100%;
    block-size: 20px;
}
nav search form {
    display: flex;
    border: 1px solid #3d3d3d;
    border-radius: 2rem;
    overflow: hidden;
}
nav search button{
    height: 24px;
    width: 24px
}
nav search input, search button {
    border: none;
    outline: none;
    color: var(--white-1);
    padding: .5rem 1rem;
}
nav search input {
    background: transparent;
    inline-size: 25rem;
}
nav search input::placeholder {
    font-weight: 700;
}
nav search button {
    background: var(--gray-4);
    border: none;
    outline: none;
    color: var(--white-1);
    block-size: 100%;
    display: flex;
    inline-size: auto;
    cursor: pointer;
}
nav search button svg {
    fill: var(--white-3);
    inline-size: 24px;
    block-size: 24px;
    display: block;
}
nav .profile {
    width: 30px;
    height: 30px;
    border: 1px solid var(--gray-4);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .side-menus svg {
    block-size: 100%;
    inline-size: 100%;
    fill: var(--gray-5);
}

main > .content::-webkit-scrollbar{
    display: none;
}
.loading{
    opacity: .1;
}

